.step3 {
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    font-family: 'ProductSans';
    font-size: 40px;
    text-align: center;
    margin-bottom: 60px;
    max-width: 300px;
  }

  .inputs {
    display: flex;

    gap: 10px;
    margin-bottom: 90px;

    .input-wrapper {
      position: relative;

      input {
        padding: 20px 20px;
        outline: none;
        border: none;
        border: 1px solid rgb(83, 35, 35);
        border-radius: 5px;
        transition: all 0.3s ease;
        position: relative;
        font-size: 16px;
        color: #4a4a4a;
      }

      .miasto-input {
        width: 150px;
      }

      .ulica-input {
        width: 250px;
      }
      label {
        position: absolute;
        left: 20px;
        top: 50%;
        transform: translateY(-50%);
        color: rgb(188, 188, 188);
        font-size: 16px;
        pointer-events: none;
        transition: all 0.3s ease;
      }
      input:focus + label,
      label.active {
        top: 0;
        font-size: 12px;
        color: rgb(188, 188, 188);
        transform: translateY(20%);
      }
    }
  }

  .map-container {
    width: 100%;
    max-width: 300px;
    height: 200px;
    margin-bottom: 20px;
    z-index: 10;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.9s ease, transform 0.5s ease;

    &.visible {
      opacity: 1;
      transform: translateY(0);
    }
  }

  button {
    font-size: 14px;
    color: white;
    padding: 12px 24px;
    border: none;
    background-color: #ff0083;
    border-radius: 5px;
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.3);
    /* Dodany cień */
    transition: box-shadow 0.3s ease;
    /* Płynne przejście dla cienia */
    cursor: pointer;

    &:hover {
      box-shadow: 0 6px 9px #0000004d;
      /* Cień po najechaniu myszą */
    }
    &:disabled {
      background-color: #ccc;
      cursor: not-allowed;
    }
  }
  .back {
    position: absolute;
    top: -40px;
    right: 40px;
  }
}

@media (max-width: 425px) {
  .step3 {

    h2 {
      font-size: 28px;
      max-width: 300px;
      margin-bottom: 20px;
    }
    
    .inputs {
      width: 100%;
      flex-direction: column;
      gap: 20px;
      margin-bottom: 40px;

      .input-wrapper {
        width: 300px;

        .miasto-input {
          width: 100%;
          max-width: 300px;
          padding: 20px 10px;
          // width: 300px;
          font-size: 14px;
          color: #4a4a4a;
        }
        .ulica-input {
          width: 100%;
          max-width: 300px;
          padding: 20px 10px;
          // width: 300px;
          font-size: 14px;
          color: #4a4a4a;
          border: 1px solid black;
        }
      }
    }

    .map-container {
      width: 100%;
      max-width: 300px;
      height: 200px;
    }

    .back {
      font-size: 12px;
      padding: 8px 17px;
      border-radius: 3px;
    }
  }
}