.step5 {
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    font-size: 40px;
    text-align: center;
    margin-bottom: 60px;
    font-family: 'ProductSans';
  }

  .inputs {
    display: flex;
    flex-direction: column;
    
    margin-bottom: 60px;

    .input-wrapper {
      position: relative;
      width: 100%;

      select,
      input {
        padding: 20px 20px;
        outline: none;
        width: 300px;
        border: none;
        border: 1px solid rgb(161, 160, 160);
        border-radius: 5px;
        transition: all 0.3s ease;
        position: relative;
        font-size: 16px;
        color: #4a4a4a;
      }

      input {
        padding: 20px 20px;
        outline: none;
        width: 300px;
        border: none;
        border: 1px solid rgb(161, 160, 160);
        border-radius: 5px;
        transition: all 0.3s ease;
        position: relative;
        font-size: 16px;
        color: #4a4a4a;
      }

      input[type="number"]::-webkit-outer-spin-button,
      input[type="number"]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      input[type="number"] {
        -moz-appearance: textfield;
      }
      label {
        position: absolute;
        left: 20px;
        top: 50%;
        transform: translateY(-50%);
        color: rgb(188, 188, 188);
        font-size: 16px;
        pointer-events: none;
        transition: all 0.3s ease;
      }
      select:focus + label,
      select:not([value=""]) + label,
      input:focus + label,
      input:not([value=""]) + label {
        top: 0;
        font-size: 12px;
        color: rgb(188, 188, 188);
        transform: translateY(20%);
      }
    }
  }



  button {
    font-size: 14px;
    color: white;
    padding: 12px 24px;
    border: none;
    background-color: #ff0083;
    border-radius: 5px;
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.3);
    /* Dodany cień */
    transition: box-shadow 0.3s ease;
    /* Płynne przejście dla cienia */
    cursor: pointer;

    &:hover {
      box-shadow: 0 6px 9px #0000004d;
      /* Cień po najechaniu myszą */
    }
    &:disabled {
      background-color: #ccc;
      cursor: not-allowed;
    }
  }
  .back {
    position: absolute;
    top: -40px;
    right: 40px;
  }
}
@media (max-width: 425px) {
  .step5 {

    h2 {
      font-size: 28px;
      max-width: 320px;
      margin-bottom: 20px;
    }
    
    .inputs {
      width: 100%;
      flex-direction: column;
      gap: 20px;
      margin-bottom: 40px;


      .custom-select-wrapper{
        width: 100%;
        max-width: 320px;
        margin-bottom: 0;
        

        .custom-select {
          width: 100%;
          max-width: 300px;
          padding: 20px 20px;
          // width: 300px;
          font-size: 14px;
          color: #4a4a4a;
        }
      }
      .input-wrapper{
        width: 100%;
        max-width: 300px;
        margin-bottom: 0;

        input {
          width: 100%;
          max-width: 300px;
          padding: 20px 10px;
          font-size: 14px;
          color: #4a4a4a;
        }
      }
    }

    

    .back {
      font-size: 12px;
      padding: 8px 17px;
      border-radius: 3px;
    }
  }
}