*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


@import url('https://fonts.googleapis.com/css2?family=Amethysta&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');


.merriweather-light {
  font-family: "Merriweather", system-ui;
  font-weight: 300;
  font-style: normal;
}

.merriweather-regular {
  font-family: "Merriweather", system-ui;
  font-weight: 400;
  font-style: normal;
}

.merriweather-bold {
  font-family: "Merriweather", system-ui;
  font-weight: 700;
  font-style: normal;
}

.merriweather-black {
  font-family: "Merriweather", system-ui;
  font-weight: 900;
  font-style: normal;
}

.merriweather-light-italic {
  font-family: "Merriweather", system-ui;
  font-weight: 300;
  font-style: italic;
}

.merriweather-regular-italic {
  font-family: "Merriweather", system-ui;
  font-weight: 400;
  font-style: italic;
}

.merriweather-bold-italic {
  font-family: "Merriweather", system-ui;
  font-weight: 700;
  font-style: italic;
}

.merriweather-black-italic {
  font-family: "Merriweather", system-ui;
  font-weight: 900;
  font-style: italic;
}


.lato-thin {
  font-family: "Lato", system-ui;
  font-weight: 100;
  font-style: normal;
}

.lato-light {
  font-family: "Lato", system-ui;
  font-weight: 300;
  font-style: normal;
}

.lato-regular {
  font-family: "Lato", system-ui;
  font-weight: 400;
  font-style: normal;
}

.lato-bold {
  font-family: "Lato", system-ui;
  font-weight: 700;
  font-style: normal;
}

.lato-black {
  font-family: "Lato", system-ui;
  font-weight: 900;
  font-style: normal;
}

.lato-thin-italic {
  font-family: "Lato", system-ui;
  font-weight: 100;
  font-style: italic;
}

.lato-light-italic {
  font-family: "Lato", system-ui;
  font-weight: 300;
  font-style: italic;
}

.lato-regular-italic {
  font-family: "Lato", system-ui;
  font-weight: 400;
  font-style: italic;
}

.lato-bold-italic {
  font-family: "Lato", system-ui;
  font-weight: 700;
  font-style: italic;
}

.lato-black-italic {
  font-family: "Lato", system-ui;
  font-weight: 900;
  font-style: italic;
}


.amethysta-regular {
  font-family: "Amethysta", system-ui;
  font-weight: 400;
  font-style: normal;
}


body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;



}

@font-face {
  font-family: 'ProductSans';
  src: url('../src/assets/fonts/ProductSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'ProductSans';
  src: url('../src/assets/fonts/ProductSans-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'ProductSans';
  src: url('../src/assets/fonts/ProductSans-Light.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'ProductSans';
  src: url('../src/assets/fonts/ProductSans-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}