.home2-container {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  background-color: orange;

//   .display {
//     margin-top: 40px;
//     align-self: flex-start;

//     h1 {
//       font-size: 40px;
//       font-family: "Merriweather", serif;
//     }
//   }

//   .info_h2 {
//     margin-top: 60px;
//     display: flex;
//     width: 780px;
//     justify-content: center;
    
//   }


//   .images-cont_h2{
//     margin-top: 100px;
//     display: flex;
//     gap: 20px;
//     justify-content: center;
//     flex-wrap: wrap;

//     .comix-container {
//       display: flex;
//       gap: 20px;
  
//       .comix-item {
//         border-radius: 20px;
//         transform: translateY(300px);
//         opacity: 0;
//         transition: transform 0.5s ease-in-out, opacity 0.5s ease;
//       }
//     }
//   }
  

  
}