.step8 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  font-family: "ProductSans";

  h2 {
    font-size: 40px;
    margin-bottom: 40px;
    font-family: "ProductSans";
  }

  .fileUploaders {
    display: flex;

    gap: 20px;
    margin-top: 100px;

    .fileUploader_wrapper {
      display: flex;
      flex-direction: column;

      .fileUploader {
        .custom-file-upload {
          max-width: 150px;

          position: relative;
          display: inline-block;
          cursor: pointer;
          margin-bottom: 20px;

          input[type="file"] {
            position: absolute;
            left: -9999px;
          }

          &::before {
            content: "Wybierz pliki"; // Zmienimy to w każdej sekcji
            padding: 10px 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
            background-color: #f9f9f9;
            color: #333;
            text-align: center;
            display: inline-block;
            cursor: pointer;
            transition: background-color 0.3s ease;
          }

          &:hover::before {
            background-color: #e0e0e0;
          }
        }

        .file-preview {
          display: flex;
          flex-direction: column;
          gap: 10px;
          width: 100%;
          max-width: 150px;

          .file-item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px;
            border: 1px solid #ddd;
            border-radius: 5px;

            p {
              margin: 0;
              font-size: 10px;
            }

            .file-item-btn {
              background-color: #ff0083;
              border: none;
              color: white;
              width: 18px;
              height: 18px;
              border-radius: 50%;
              cursor: pointer;
              display: flex;
              justify-content: center;
              align-items: center;

              &:hover {
                background-color: #e60077;
              }
            }
          }
        }
      }

      .checkbox {
        margin-top: 30px;
        max-width: 150px;

        input {
          width: 30px;
        }
      }
    }

    .fileUploader_wrapper:nth-of-type(1) .custom-file-upload::before {
      content: "Zdjęcia budynku z zewnątrz";
      // content: "1";

    }

    .fileUploader_wrapper:nth-of-type(2) .custom-file-upload::before {
      content: "Rzuty nieruchomości";
      // content: "2";

    }

    .fileUploader_wrapper:nth-of-type(3) .custom-file-upload::before {
      content: "Świadectwo dla budynku";
      // content: "3";

    }
  }

  .step8-btn {
    font-size: 14px;
    color: white;
    padding: 12px 24px;
    border: none;
    background-color: #ff0083;
    border-radius: 5px;
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.3);
    cursor: pointer;

    &:hover {
      box-shadow: 0 6px 9px #0000004d;
    }

    &:disabled {
      background-color: #ccc;
      cursor: not-allowed;
    }
  }

  .back {
    position: absolute;
    top: -40px;
    right: 40px;
    background-color: #ff0083;
    color: white;
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.3);
    cursor: pointer;
  }
}

@media (max-width: 425px) {
  .step8 {
    width: 100vw;

    h2 {
      font-size: 28px;
      margin-bottom: 0;
    }

    .fileUploaders {
      display: flex;
      max-width: 100%;
      margin-top: 20px;
      gap:10px;
      padding: 0 10px;

      .fileUploader_wrapper {
        display: flex;
        flex: 1 1 33%; // <-- każdemu wrapperowi dajemy 1/3 dostępnego miejsca
        max-width: 33%; // ograniczenie, żeby nie było więcej
        box-sizing: border-box;
        

        .fileUploader {
          justify-content: center;
          

          .custom-file-upload {
            width: 100%;
            height: 80px;
            font-size: 9px;
            // border: 0.1px solid rgb(209, 209, 209);
            margin-bottom: 5px;

            &::before {

              width: 100%;
              height: 100%;
              background-color: rgb(247, 247, 247);
              color: #333; // żeby tekst był widoczny
              border: 0.1 solid rgb(231, 231, 231);
              display: flex;
              justify-content: center;
              align-items: center;
              text-align: center;
              box-sizing: border-box;
              padding: 10px;

            }

            
          }

          .file-preview {
            

            .file-item{
              border: none;

              button{

              }
            }
          }

        }

        .checkbox{
          font-size: 12px;
          font-family: "ProductSans";
          font-weight: 200;
          margin-top: 5px;
        }
      }
    }

    .back {
      font-size: 12px;
      padding: 8px 17px;
      border-radius: 3px;
    }
  }
}