.home1-container {
    width: 100%;
    // height: calc(100vh - 80px);
    height: 100vh;
    position: relative;
    // top: 80px;

    .background {
        width: 100%;
        height: 100%;



        .homeImage {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: top right;


        }
    }

    .textButton {
        position: absolute;
        top: 140px;
        left: 155px;
        max-width: 670px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        

        .textContainer {
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            h1 {
                margin: 0;
                font-size: 112px;
                color: #4a4a4a;
                font-family: "Merriweather", serif;
                font-weight: 300;
            }

            span {
                font-size: 28px;
                font-family: "Lato", sans-serif;
                margin-top: 30px;
                margin-bottom: 60px;
                line-height: 1.5;

                .highlight {
                    color: #FF0083
                }
            }
        }

        button {
            font-size: 20px;
            color: white;
            padding: 18px 104px;
            border: none;
            background-color: #FF0083;
            border-radius: 5px;
            cursor: pointer;
        }
    }

}


/* Media query for screens smaller than 740px */
@media (min-width: 1440px) {}

@media (max-width: 960px) {

    .homepage .textButton {
        left: 40px;


        button {
            font-size: 20px;
            color: white;
            padding: 18px 50px;
            border: none;
            background-color: #FF0083;
            border-radius: 5px;
            cursor: pointer;
        }
    }

}

@media (max-width: 740px) {

    .homepage .textButton .textContainer h1 {
        font-size: 64px;
    }

    .homepage .textButton .textContainer span {
        font-size: 20px;
    }

    .homepage .textButton {
        top: 80px;
        margin-right: 40px;
        background-color: rgba(255, 255, 255, 0.8);
        /* Półprzezroczyste białe tło */
        padding: 10px;
        border-radius: 5px;
    }

}

@media (max-width: 425px) {
    
    .homepage .textButton .textContainer h1 {
        font-size: 52px;
    }

}