.step1 {
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    font-size: 40px;
    text-align: center;
    margin-bottom: 90px;
  }
  .dates {
    display: flex;
    flex-direction: column;
    margin-bottom: 90px;
    gap: 10px;
    font-family: 'ProductSans';
    font-weight: 200;

    label {
      padding: 10px 20px;
      background-color: rgb(234, 234, 234);
      display: flex;
      align-items: center;
      gap: 10px;

      input[type="radio"] {
        appearance: none;
        -webkit-appearance: none; /* Usuwa domyślny wygląd w WebKit */
        -moz-appearance: none; /* Usuwa domyślny wygląd w Firefox */
        background-color: white;
        border-radius: 50%; /* Okrągły kształt */
        width: 20px; /* Szerokość */
        height: 20px; /* Wysokość */
        display: inline-block;
        position: relative;
        cursor: pointer;

        &:checked {
            background-color: #000; /* Kolor wypełnienia po zaznaczeniu */
          }
      }
    }
  }
  button {
    font-size: 14px;
    color: white;
    padding: 12px 24px;
    border: none;
    background-color: #FF0083;
    border-radius: 5px;
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.3);
    /* Dodany cień */
    transition: box-shadow 0.3s ease;
    /* Płynne przejście dla cienia */
    cursor: pointer;

    &:hover {
        box-shadow: 0 6px 9px #0000004d;
        /* Cień po najechaniu myszą */
    }
    &:disabled {
      background-color: #ccc;
      cursor: not-allowed;
    }

}
}
