.image-container {
  width: 300px;
  height: auto;
  overflow: hidden; /* Ukrywa resztę obrazków */
  position: relative;

  .image-row {
    display: flex; /* Ustawia obrazki w jednym rzędzie */
    transition: transform 0.01s ease-out; /* Płynne przesuwanie obrazków */

    img {
      width: 100%;
      height: 300px;
      flex-shrink: 0;
      
    }
  }
}
