.chatpage {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;

  .row-layout {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  .column-layout {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .chatback {
    // display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 400px;
      background: linear-gradient(
        to bottom,
        rgb(248, 248, 248) 20%,
        rgba(248, 248, 248, 0.95) 40%,
        rgba(248, 248, 248, 0.3) 80%,
        rgba(248, 248, 248, 0) 100%
      );
      pointer-events: none;
      z-index: 0; /* Gradient powinien mieć niższy z-index od linii */
    }
  }

  .mouse {
    position: absolute;
    top: 0;
    left: 0;
  }

  /* Wrap container for headPhoto, infoContainer, and chatContainer */
  .wrapContainer {
    position: relative;
    width: 100%;
    // border: 1px solid red;
    max-width: 700px;
    margin: 0 auto;

    height: 100%;
    // overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;

    .scroll-buttons {
      z-index: 1000;
      display: flex;
      gap: 10px;
      align-self: flex-end;

      button {
        font-size: 30px;
        color: rgb(206, 206, 206);
        background-color: transparent;
        border: none;
      }
    }

    .headPhoto {
      position: absolute;
      top: 20px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 4;
      width: 130px;
      height: 130px;
      transition: all 0.5s ease;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
      }
    }
    .full-width-line {
      position: absolute;
      top: 80px;
      width: 100vw;
      border: none;
      border-top: 1px solid rgb(206, 206, 206);
      margin: 0;
      padding: 0;
      z-index: 3;
    }

    /* Gradient mask at the top */
    // &::before {
    //   content: "";
    //   position: absolute;
    //   top: 0;
    //   left: 0;
    //   width: 100%;
    //   height: 250px;
    //   background: linear-gradient(
    //     to bottom,
    //     rgb(248, 248, 248) 20%,
    //     rgba(248, 248, 248, 0.95) 40%,
    //     rgba(248, 248, 248, 0.3) 80%,
    //     rgba(248, 248, 248, 0) 100%
    //   );
    //   pointer-events: none;
    //   z-index: 1; /* Gradient powinien mieć niższy z-index od linii */
    // }

    /* When chat is visible, headPhoto transitions to bot-avatar */
    .headPhoto-chat {
      top: 221px; /* Adjust positioning */
      left: 21px;
      width: 50px;
      height: 50px;
      transform: translateX(0);
      z-index: 2;
    }
    .headPhoto.hidden {
      opacity: 0;
      visibility: hidden;
    }

    .infoContainer {
      position: absolute;
      top: 200px;
      max-width: 700px;
      opacity: 1;
      transition: opacity 0.5s ease;
      z-index: 1000;
      display: flex;
      flex-direction: column;
      gap: 30px;

      button {
        background-color: #ff3cef;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin-top: 50px;
        width: 200px;
      }
    }

    .infoContainer-hide {
      opacity: 0;
      pointer-events: none;
    }

    .chatContainer {
      position: absolute;
      top: 220px; // Ustawiamy top na 220px
      width: 100%;

      overflow-y: auto;
      padding: 0 20px;
      display: flex;
      flex-direction: column;
      opacity: 0;
      transform: scale(0.95);
      transition: opacity 0.5s ease, transform 0.5s ease;

      &.chat-visible {
        opacity: 1;
        transform: scale(1);
      }

      .chat-user-message {
        animation: slide-up 0.75s ease-in-out;
      }

      @keyframes slide-up {
        from {
          transform: translateY(100%);
          opacity: 0;
        }
        to {
          transform: translateY(0);
          opacity: 1;
        }
      }

      .chat-bot-message {
        display: flex;
        align-items: flex-start;

        .head-summary {
          display: flex;
        }

        /* Reuse headPhoto as bot-avatar */
        .bot-avatar {
          max-width: 50px;
          max-height: 50px;
          margin-right: 10px;
          display: flex;

          img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
          }
        }

        /* Ujednolicenie stylu wiadomości bota */
        p,
        .typing-text {
          font-family: "Lato", sans-serif;
          font-size: 16px; /* Użyj jednolitego rozmiaru czcionki */
          font-weight: 300;
          padding: 10px;
          border-radius: 10px;
          max-width: 600px;
          line-height: 1.5; /* Ustawienie odstępów między wierszami */
        }
      }

      /* Stylizacja dla inputa użytkownika */
      .user-input-container {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        opacity: 1;
        transform: scale(0.95);
        transition: opacity 0.5s ease, transform 0.5s ease;
        animation-delay: 1s;
        animation-fill-mode: forwards;

        .choice-container {
          display: flex;

          gap: 10px;

          button {
            padding: 0 35px;
            border: none;
            border-radius: 10px;
            height: 50px;
            font-size: 16px;
          }
        }

        .chat-user-message {
          .user-input {
            font-size: 16px;
            padding: 10px 10px;
            border: none;
            border-radius: 10px;
            width: 250px;
            outline: none;
          }
        
          button {
            position: relative;
            width: 50px;
            height: 50px;
            border: none;
            background-color: transparent;
            margin-left: 20px;
            cursor: pointer;
            transition: box-shadow 0.3s ease;
        
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
        
            &:focus {
              outline: none;
            }
        
            &.pulsing {
              animation: pulseBorder 1s infinite alternate;
              will-change: box-shadow;
            }
          }
        
          @keyframes pulseBorder {
            0% {
              box-shadow: 0 0 10px 3px rgba(255, 0, 0, 0.5); /* Czerwony efekt przyciągający uwagę */
            }
            100% {
              box-shadow: 0 0 20px 6px rgba(255, 0, 0, 1);
            }
          }
        }
        
        .user-input.full-width {
          width: 500px; /* Szerokość dla jednego pola */
        }

        .user-input.half-width {
          width: 200px; /* Szerokość dla każdego z dwóch pól */
        }
      }
    }
    .summary {
      display: flex;
      flex-direction: column;
      margin-bottom: 50px;

      p {
      }

      .summary-buttons {
        display: flex;
        gap: 10px;
        align-items: center;
      }

      button {
        border: none;
        border-radius: 10px;
        height: 72px;
        font-size: 16px;
        width: 200px;
        margin-left: auto;
        margin-top: 30px;
      }
      .send {
        border: none;
        border-radius: 10px;
        height: 42px;
        font-size: 16px;
        width: 200px;
        margin-left: auto;
        margin-top: 30px;
      }
    }

    .chat-user-message {
      display: flex;
      justify-content: flex-end;
      align-items: flex-start;

      p {
        width: 70%;
        text-align: right;
      }

      .user-avatar {
        margin-left: 20px;
        width: 50px;
        height: 50px;

        button {
          border: none;
          background-color: transparent;
          width: 50px;
          height: 50px;
          padding: 0;
          margin: 0;

          img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
          }
        }
      }
    }
  }

  /* Ukrycie paska przewijania w WebKit (Chrome, Safari) */
  .chatContainer::-webkit-scrollbar {
    display: none; /* Ukrywa pasek przewijania */
  }
}
