.step7 {
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    font-size: 40px;
    text-align: center;
    margin-bottom: 50px;
  }
  .dates {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    gap: 10px;

    label {
      padding: 10px 20px;

      display: flex;
      align-items: center;
      gap: 10px;

      input[type="radio"] {
        appearance: none;
        -webkit-appearance: none; /* Usuwa domyślny wygląd w WebKit */
        -moz-appearance: none; /* Usuwa domyślny wygląd w Firefox */
        background-color: white;
        border: 1px solid #4a4a4a;
        border-radius: 50%; /* Okrągły kształt */
        width: 20px; /* Szerokość */
        height: 20px; /* Wysokość */
        display: inline-block;
        position: relative;
        cursor: pointer;

        &:checked {
          background-color: #000; /* Kolor wypełnienia po zaznaczeniu */
        }
      }
    }
  }

  .textArea {
    margin-bottom: 20px;
    width: 100%;
  }
  button {
    font-size: 14px;
    color: white;
    padding: 12px 24px;
    border: none;
    background-color: #ff0083;
    border-radius: 5px;
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.3);
    /* Dodany cień */
    transition: box-shadow 0.3s ease;
    /* Płynne przejście dla cienia */
    cursor: pointer;

    &:hover {
      box-shadow: 0 6px 9px #0000004d;
      /* Cień po najechaniu myszą */
    }
  }
  .back {
    position: absolute;
    top: -40px;
    right: 40px;
  }
}

@media (max-width: 425px) {
  
  .step7 {
    h2 {
      font-size: 28px;
      max-width: 320px;
      margin-bottom: 20px;
    }

    .dates {
      margin-bottom: 30px;
    }
    .textArea {
      margin-bottom: 20px;
      width: 320px;
      padding: 10px;
    }

    .back {
      font-size: 12px;
      padding: 8px 17px;
      border-radius: 3px;
    }
  }
}
